body {
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border-color: rgb(243, 211, 211);
    border-style: groove;
    padding: 1em 1em;
    background-color: lightblue;
}

section {
    background-color: white;
    padding: 1em 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}