body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
    font-size: larger;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

h2 {
    grid-column: span 2;
	text-align: left;
    margin: 0;
}

article p {
	text-align: justify;
}

.callout {
	color: white;
	background-color: #702963;
    padding: 0 1em;
    grid-column: span 2;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
