@media screen and (min-width: 680px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    nav ul li {
        height: auto;
    }

    #hamMenu {
        display: none;
    }

    nav {
        display: flex;
    }

    .navigation {
        display: flex;
    }

    nav ul li {
        margin-top: auto;
        margin-bottom: auto;
    }

    main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 800px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 2fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    .list h2{
        font-size: .8rem;
    }
}