* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
 }

/* small view navigation */
#menu {
  display: block;
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: white;
	color: black;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style-type:  none;
	background-color: black;
	color: #fff;
}

/* this makes the nav invisible when the hamburger icon is showing */
.navigation li {
  display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
  list-style-type: none;
	color: white;
}
.navigation li a:hover {
	background-color: #bbb;
	color: black;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::after {
	content: " 📌";
}

body {
  display: grid;
  place-content: center;
}
header {
    background-color: antiquewhite;
    border-color: black;
    border-style: groove;
   
}

header h1 {
    padding-left: 2rem;
}

  header img, h1 {
    display: inline-block;
    vertical-align: middle;
  }

main {
  display: grid;
    gap: 1em;
    max-width: 80%;
    grid-template-columns: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;  
  }

  ul {
    list-style-type: none;
  }

  h2 {
    border-bottom-style: solid ;
  }

h3 {
    margin: 0;
    padding: 20px 0;
    color: #f4f6f8;
    background-color: black;
    text-align: center;
  } 

  img {
	display: block;
	max-width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); 
  }

  .hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

  .map {
    display:block;
    width: auto;
  }

@media (min-width: 650px) {
  h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
}

  
